.card {
  position: absolute;
  top: 32px;
  left: 73px;
  &--front {
    top: 180px;
    left: 16px;
  }
  &__img--logo {
    position: absolute;
    top: 20px;
    left: 20px;
  }

  &__info{
    position: absolute;
    top: 130px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
    
  }

  &__number{
    margin-bottom: 30px;
    font-size: 25px;
    width: 100%;
  }
}
